<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="spinner" *ngIf="isLoading">
  <label class="label1">Cargando datos...</label>
</div>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>

    <p>{{ post.content }}</p>
    <mat-action-row>
      <a  mat-button color="primary" [routerLink]="['/edit' , post.id]"> EDITAR</a>
      <!-- <button  mat-button color="warn" (click)="onDeletePost(post.id)"> Eliminar</button> -->
      <button  mat-button color="warn" (click)="onDelete(post.id)"> ELIMINAR</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading"> No hay rutinas agregadas</p>
<img src="./assets/flome_resize.png"  height="400px">