<div class="banner">
  <div class="bg">
      <img src="./assets/flome_resize.png" alt="Ya es toda we :v" height="400px">
      <div class="text">
          <h1><b>🏋️‍♂️- REST-TIMER -🏋️‍♂️</b></h1>
          <p>Para ponchados con TDAH</p>
      </div>
  </div>
</div>

<div class="banner">
  <div class="why">
      <div class="text2">
          <h1><b>¿Para que es REST-TIMER? </b></h1>
          <p>Podras llevar un registro de los ejercicios que hagas a lo largo de tu rutina,
            especificamente las repeticiones y series, esto con el objetivo de conocer tu progreso
          y seguir con tu motivacion al maximo!</p>
      </div>
      <img src="./assets/sets_and_reps.png" alt="Ya es toda we :v" height="310px">
  </div>
</div>

<div class="banner">
  <div class="who">
      <div class="text">
          <h1><b>¿Para quien es REST-TIMER? </b></h1>
          <p>REST-TIMER es para todo atleta que quiera llevar un orden y registro de su entrenamiento </p>
      </div>
      <img src="" alt="" height="310px">
  </div>
</div>

